
{% extends 'base.html'%}
{%import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block title%}
    {{ super() }}
    Bienvenido
{% endblock %}

{% block content %}

    {% if username %}
        <h1 class="left-space top-space bottom-space">Bienvenido/a, {{ username | capitalize }}</h1>
    {% endif %}
    
    <div class="container bottom-space">
        <div class="row">
            <div class="col-sm-10">
                {{ wtf.quick_form(todo_form)}}
            </div>
        </div>
    </div>

    <h2 class="left-space">Tasks</h2>
    {% if todos |length != 0 %}
      {% for todo in todos %}
        <ul class="list-group-horizontal-sm">
            <li class="list-group-item">
            {{macros.render_todo(todo, delete_form, update_todo, update_todo_done_form)}}
            </li>
        </ul>
      {% endfor %}
    {% endif %}
{% endblock %}
    