<div class="navbar navbar-inverse" role="navigation">
    <div class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/platzi.png') }}"
                     style="max-width: 48px"
                     alt="Platzi logo">
            </a>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a href="{{ url_for('index') }}">Inicio</a></li>
                {% if not current_user.is_authenticated %}
                    <li class="nav-item"><a href="{{ url_for('auth.signup') }}">Signup</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <li class="nav-item"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>